{%extends 'layout.html'%} {%block body%}

<section id="video">
    <div class=" bg-success py-5">
        <div class="container ">
            <div class=" text-white">
                <div class="display-4">Download Your Video</div>
                <a href="/video" class="btn btn-danger btn-lg my-3">Download</a>
            </div>
        </div>
    </div>
</section>
<section c id="video">
    <div class=" bg-danger py-5">
        <div class="container ">
            <div class=" text-white ">
                <div class="display-4 d-flex justify-content-end">Download Your Audio</div>
                <div class="d-flex justify-content-end">
                    <a href="/audio">
                        <button class="btn btn-warning btn-lg  my-3 ">Download</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="video">
    <div class=" bg-primary py-5">
        <div class="container ">
            <div class=" text-white">
                <div class="display-4">Watch Youtube videos without Ads</div>
                <a href="/ads" class="btn btn-danger btn-lg my-3">watch</a>
            </div>
        </div>
    </div>
</section>
{%endblock%}