/* .background-image {
    background: url('../img/r9IVyM.jpg');
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-dark-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1000px;
} */


/* #downloadSection {
    margin-top: 10px;
} */